@import 'components/style/theme/index.scss';

.demo-carousel-wrapper {
  text-align: center;
  .#{$root-prefix}-carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #fff;
    &:nth-child(even) {
      background: $primary-color;
    }
    &:nth-child(odd) {
      background: $warning-color;
    }
  }
}