@import '../style/theme/index.scss';

$prefix: '#{$root-prefix}-button';
.#{$prefix} {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 5px 15px;
  font-size: $font-size;
  appearance: none; // border-radius: 4px;
  user-select: none;
  position: relative;
  transition: transform ease-in 0.1s, background 0.3s;
  &:focus {
    outline: 0;
  }
  &:active {
    transform: scale(0.9);
  }
  /*
    * $type:按钮类型
    * $color:按钮初始化时背景色
    * $activeColor:鼠标滑过时颜色
    * $plainBgColor:朴素样式时按钮背景色
    * $plainBorderColor:朴素样式时按钮边框色
  */
  @each $type, $color, $activeColor, $plainBgColor, $plainBorderColor in 
  (default, #fff, #ecf5ff, #ecf5ff, #b3d8ff),
  (primary, $primary-color, darken($primary-color, 10%), lighten($primary-color, 40%), lighten($primary-color, 20%)),
  (success, $success-color, darken($success-color, 10%), lighten($success-color, 50%), lighten($success-color, 20%)),
  (info, #6c757d, #5a6268, #f4f4f5, #d3d4d6),
  (warning, $warning-color, darken($warning-color, 7%), lighten($warning-color, 43%), lighten($warning-color, 20%)),
  (danger, $error-color, darken($error-color, 10%), lighten($error-color, 42%), lighten($error-color, 20%)){
    &-#{$type} {
      background-color: $color;
      @if $type == default {
        border-color: $border-color;
        color: #606266;
      } @else {
        border-color: $color;
        color: #fff;
      }
      &:hover{
        @if $type == default {
          color: $primary-color;
          border-color: #c6e2ff;
        } @else {
          color: #fff;
          border-color: $activeColor;
        }
        background-color: $activeColor;
      }
      &.#{$prefix}-plain {
        @if $type == default{
          color: #606266;
          border-color: $border-color;
          background: #fff;
        } @else {
          color: $color;
          border-color: $plainBorderColor;
          background: $plainBgColor;
        }
        &:hover {
          @if $type == default {
            background: #fff;
            border-color: $primary-color;
            color: $primary-color;
          } @else {
            background: $color;
            border-color: $color;
            color: #fff;
          }
        }
      }
      &.#{$prefix}-round {
        border-radius: 4px;
      }
      &.#{$prefix}-circle{
        border-radius: 50%;
        padding: 0;
        width: 33px;
        height: 33px;
      }
      &.#{$prefix}-large{
        font-size: $font-size-large;
        padding: 6px 16px;
        &.#{$prefix}-round {
          border-radius: 5px;
        }
        &.#{$prefix}-circle{
          padding: 0;
          border-radius: 50%;
          width: 41px;
          height: 41px;
        }
      }
      &.#{$prefix}-small{
        font-size: $font-size-smaller;
        padding: 4px 8px;
        &.#{$prefix}-round {
          border-radius: 5px;
        }
        &.#{$prefix}-circle{
          padding: 0;
          width: 28px;
          height: 28px;
          border-radius: 50%;
        }
      }
      &.#{$prefix}-loading {
        cursor: default;
        opacity: 0.8;
        @if $type == default {
          color: $primary-color;
          border-color: #c6e2ff;
        } @else {
          color: #fff;
          border-color: $activeColor;
        }
        background-color: $activeColor;
        &:active {
          transform: none;
        }
      }
    }
  }
  &-link {
    background-color: transparent;
    border-color: transparent;
    color: #007bff;
    &:hover{
      color: #0056b3;
      text-decoration: underline;
      border-color: transparent;
      background-color: transparent;
    }
  }
  &-disabled {
    $disabledColor: $gray-color;
    $disabledBackgroundColor: #f5f5f5;
    $disabledBorderColor: #f5f5f5;
    background-color: $disabledBackgroundColor;
    border-color: $disabledBorderColor;
    color: $disabledColor;
    cursor: not-allowed;
    transition: none;
    &:hover{
      color: $disabledColor;
      background-color: $disabledBackgroundColor;
      border-color: $disabledBorderColor;
    }
    &:active {
      transform: none;
    }
    &.#{$prefix}-link{
      background-color: transparent;
      border-color: transparent;
    }
  }
  &-block {
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
.#{$prefix}-group {
  .#{$prefix} {
    display: inline-block;
    border-radius: 0;
    &-small, &-large {
      border-radius: unset !important;
    }
    &:first-child {
      border-top-left-radius: 4px !important;
      border-bottom-left-radius: 4px !important;
    }
    &:last-child {
      border-top-right-radius: 4px !important;
      border-bottom-right-radius: 4px !important;
    }
    &:not(:last-child) {
      border-right: unset;
    }
  }
}