.silder {
  .info {
    color: #f5222d;
    padding: 10px 15px;
    font-size: 12px;
  }
  ul {
    list-style: none;
    .type {
      .name {
        height: 30px;
        line-height: 30px;
        padding-left: 15px;
        color: #fff;
      }
      .item {
        height: 30px;
        line-height: 30px;
        padding-left: 30px;
        a {
          text-decoration: none;
          color: #fff;
          font-size: 16px;
          &:hover {
            color: #20a0ff;
          }
        }
      }
    }
  }
}