@import '../../components/style/theme/index.scss';

.silder {
  .info {
    color: #f5222d;
    padding: 10px 15px;
    font-size: 12px;
  }
  .site-menu {
    a {
      text-decoration: none;
      color: $font-color;
      font-size: $font-size;
      display: block;
      cursor: pointer;
      &:hover {
        color: $primary-color;
      }
    }
    .diff-menu-item-selected {
      a {
        color: $primary-color;
      }
    }
  }
}