@import 'components/style/theme/index.scss';
.demo-icon-lists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  li {
    display: flex;
    flex-direction: column;
    width: 130px;
    align-items: center;
    justify-content: center;
    list-style: none;
    cursor: pointer;
    height: 100px;
    color: #555;
    transition: color .3s ease-in-out,background-color .3s ease-in-out;
    position: relative;
    margin: 3px 0;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
    span {
      margin-top: 10px;
    }
    .#{$root-prefix}-icon {
      font-size: 30px;
      transition: transform .3s ease-in-out;
      will-change: transform;
    }
    &:hover {
      background-color: #1890ff;
      color: #fff;
    }
  }
}