@import '../style/theme/index.scss';
@import '../style/mixins/reset.scss';

$prefix: '#{$root-prefix}-notification';

.#{$prefix}-wrapper {
  position: fixed;
  z-index: 998;
  margin-top: -15px;
}
.#{$prefix} {
  @include reset;
  padding: 20px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.12), 0 0 6px rgba(0,0,0,.04);
  transition: opacity .3s,transform .3s,right .3s,top .4s;
  margin-top: 15px;
  position: relative;
  &-content {
    &::after {
      content: ' ';
      clear: both;
      display: block;
    }
  }
  &-title {
    font-weight: 400;
    font-size: $font-size-large;
    color: $font-color;
    margin: 0;
  }
  &-message {
    font-size: $font-size;
    line-height: 21px;
    color: #666;
    text-align: justify;
  }
  &-has-icon {
    margin-left: 55px;
  }
  &-btn {
    margin: 5px 0 0 0;
    float: right;
  }
  &-icon {
    width: 40px;
    height: 40px;
    font-size: 40px;
    float: left;
    position: relative;
    top: 3px;
    color: $primary-color;
  }
  &-success {
    .#{$prefix}-icon {
      color: $success-color;
    }
  }
  &-error {
    .#{$prefix}-icon {
      color: $error-color;
    }
  }
  &-warning {
    .#{$prefix}-icon {
      color: $warning-color;
    }
  }
  &-close {
    top: 5px;
    right: 5px;
    position: absolute;
    cursor: pointer;
    color: #666;
    font-size: $font-size-large;
    &:hover {
      color: $primary-color;
    }
  }
}